backports.shutil-get-terminal-size==1.0.0
decorator==4.0.6
enum34==1.1.6
ipython==5.4.1
ipython-genutils==0.2.0
pathlib2==2.3.0
pexpect==4.0.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5
Pygments==2.2.0
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
virtualenv==15.0.1
wcwidth==0.1.7
