cycler==0.10.0
dask==0.15.0
decorator==4.0.11
matplotlib==1.5.3
MySQL-python==1.2.5
networkx==1.11
nltk==3.2.1
numpy==1.11.1
olefile==0.44
pandas==0.18.1
Pillow==4.1.1
pkg-resources==0.0.0
pyparsing==2.2.0
python-awis==1.2.1
python-dateutil==2.6.0
pytz==2017.2
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.19.1
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.11
termcolor==1.1.0
toolz==0.8.2
