/* Styling for markdown-generated text */

body {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height: 1.5;
}

img.centered {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
}

pre.sourceCode.python {
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* table styling */
table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
}

th {
  color: black;
}

th td:nth-child(1) {
  background-color: #f2f2f2;
}

td:nth-child(1) {
  color: black;
  font-weight: bold;
}

th, td {
  padding: 5px;
  text-align: center;
}

/* alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

p.caption {
  text-align: center;
  font-style: italic;
  padding-bottom: 1em;
}

/* Styling for the correlation matrix visual */

div#matrix {
  padding: 0 auto;
  margin: 0 auto;
}

#matrix svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  overflow: visible;
}

#matrix line {
  fill: none;
  stroke-width: 1;
}

text#corrtext {
  background-color: white;
  border-radius: 2px;
}

/* Styling for the force-directed graph visual */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.links line.background  {
  stroke-opacity: 0;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes circle.background  {
  stroke: #fff;
  opacity: 0.25;
}

.nodes circle.selected  {
  stroke: #AAA;
  stroke-width: 2.5px;
  opacity: 1.0;
}

.nodes circle:hover  {
  stroke: #888;
  stroke-width: 2.5px;
  opacity: 1.0;
}

/* Styling for the force-directed graph info box */

.top-buffer { 
  margin-top:20px; 
}

.info-header {
  margin-top: 1em;
  margin-bottom: 1em;
}

.info-container {
  height: 15em;
  overflow: auto;
}

.info-container ol li {
  list-style-type: none;
}

.info-container ul li {
  list-style: none;
}

/* Styling for the topic modeling visual */

div#topics {
  margin-bottom: 2em;
}

#topic-graph div.topic-box {
  padding: 0;

}

#topic-graph div.topic-box:hover {
  padding: 0;

}
